
.main-principal {
    background: url('/img/funda3.jpg') ;
    background-size: cover; /* Ajusta la imagen para que cubra todo el elemento main */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el elemento main */
    height: 84vh;
}

    .h1-main-principal{
        color: white;
        font-size: 40px;
        text-shadow: 5px 5px 1px rgba(7, 0, 0, 0.5);
        padding: 15%;
        text-align: center;
    }

    .h1-main-principal span{
        color: rgb(255, 123, 0);
    }


/*ASIDE*/

.section-main-principal-contenedor{
    /* background-color: aqua; */
    margin: 50px;
}

    .cuadrado{
        background-color: #34AD54;
        padding: 10px;
        box-shadow: 0px 0px 10px orange;
    }

    .cuadrado p{
        text-align: justify;
        margin: 10px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-shadow: 2px 2px 1px rgba(7, 0, 0, 0.5);
    }

    .cuadrado button{
        background-color: orange;
        display: block;
        margin: 30px auto;
        width: 200px;
        padding: 10px;
        /* border-radius: 20px; */
        box-shadow: 0px 0px 10px #000;
        border: none;
        cursor: pointer;
    }

    .cuadrado button a{
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .cuadrado button:hover{
        box-shadow: 0px 0px 10px #00ff4c;
    }




/*section 2*/

.section-dos-main-principal-contenedor{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    justify-content: center;
    background-color: #34AD54;
}

    .div-section{
        margin: 20px;
        /* background-color: #34AD54; */
        transition: transform 0.3s ease;
    }

    .div-section img{
        width: 100%;
        box-shadow: 0px 0px 20px orange;
    }
    .div-section:hover{
        background-color: #000000;
        transform: translateY(-5px);
    }